*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #EBEBEB;
}
nav{
    text-align: center;
    width: 320px;
    margin: 10px auto;
    border-radius: 20px;
    height: 50px;
}
nav ul{
    list-style: none;
    
}
nav ul li{
    display: inline;
    padding: 5px;

}
nav ul li a { 
    
    color: #333; 
    text-decoration: none; 
    
    padding: 10px;
}
a:hover{
    background-color: #565b5e;
    border-radius: 10px;
    height: 50px;
    transition: background-color 1s;
    color:white;}

    #container{
        margin: 0px auto;
        width: 620px;
        height: 100px;
        text-align: center;
    }
   
    #midias{
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: top;
    }
    .child{
        width: 290px;
        height: 280px;
        margin: 10px;
        text-align: center;
        margin-top: 50px;
        
    }
    
    figure{
        text-align: center;
    }
    .child h1 {
        font-size: 20px;
    }
a{
    color: black;
    text-decoration: none;
}

.child a:hover{
    color: black;
}
#rodape{
    height: 580px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
footer{
    height: 600px;
    background-color: black;
    
}

section{
    color: white;
    height: 200px;
    width: 400px;
    margin: 100px;
   
    
}
section a {
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: black;
    background:white;
    width: px;
    height: px;
    border-radius: 0px;
    padding: 10px;
    margin: 5px;
}
ul{
    list-style: none;
}
li{
    padding: 10px;
}

h3{
    margin-bottom: 10px;
}
#rede{
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.social{
    
    width: 80px;
    height: 80px;
    
}
#pagamento{

    width:200px;
    height:200px;
    flex-direction:row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: 5px;
}
.pagamentos{
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    
}

